<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheet/stars.css">

    <body>

        <div class="row">
            <div class="col-6">

                <div class="card mb-3">

                    <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% foundCamp.images.forEach((img, i)=>{ %>
                                <div class="carousel-item <%=i===0 ? 'active' : '' %>">
                                    <img src="<%=img.url %>" class="d-block w-100 card-image-top" alt="">
                                </div>
                                <% }) %>

                        </div>
                        <% if( foundCamp.images.length> 1) {%>
                            <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">
                            <%= foundCamp.title%>
                        </h5>
                        <p class="card-text">
                            <%= foundCamp.description%>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">
                            <%= foundCamp.location%>
                        </li>
                        <li class="list-group-item text-muted">
                            Submitted by <%= foundCamp.author.username%>
                        </li>
                        <li class="list-group-item">$<%= foundCamp.price%>/night</li>
                    </ul>
                    <% if(currentUser && currentUser._id.equals(foundCamp.author._id)) {%>
                        <div class="card-body">
                            <a class="card-link btn btn-info" href="/<%=foundCamp._id%>/edit">Edit</a>
                            <form class="d-inline" action="/<%=foundCamp._id%>/delete?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                </div>

            </div>
            <div class="col-6">
                <div id='map' style='width: 100%; height: 300px;'></div>
                <% if(currentUser){ %>
                    <div class="container">
                        <form action="/<%=foundCamp._id%>/reviews" method="POST" class="form-group needs-validation"
                            novalidate>
                            <div>
                                <fieldset class="starability-grow">
                                    <legend>Rating:</legend>
                                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0"
                                        checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="rating" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="rating" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="rating" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="rating" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="rating" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <label for="comment"></label>
                                <textarea class="form-control" id="comment" name="body" required rows="3"
                                    placeholder="Please leave your comment here"></textarea>
                                <div class="invalid-feedback">
                                    Please enter some comment.
                                </div>
                                <button class="btn btn-success float-right mt-4">Post
                                    my review</button>
                            </div>
                        </form>
                    </div>
                    <% } %>
                        <div>
                            <% for (let review of foundCamp.reviews) { %>
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <h4>
                                            <%= review.author.username %>
                                        </h4>
                                        <p class="starability-result" data-rating="<%= review.rating %>">
                                            Rated: <%= review.rating %> stars
                                        </p>
                                        <p>
                                            <%= review.body %>
                                        </p>
                                        <% if(currentUser && currentUser._id.equals(review.author._id)) { %>
                                            <form action="/<%=foundCamp._id %>/reviews/<%=review._id %>?_method=DELETE"
                                                method="POST">
                                                <button class="btn btn-sm btn-outline-danger"><i
                                                        class="bi bi-trash"></i></button>
                                            </form>
                                            <% } %>
                                    </div>
                                </div>
                                <% } %>
                        </div>

            </div>
        </div>

        </div>
        </div>
        <script>
            const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
            const foundCamp = <%- JSON.stringify(foundCamp) %>
        </script>
        <script src="/js/showMap.js"></script>
    </body>